*{
    margin: 0;
    padding:0;
    box-sizing: 0;
}

.contenitore-intestazione{
    background-color: blue;
    min-height: 80px;
    width: 100%;
}

.logo-link{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;

}

.logo-link a{
    color: white;
    text-decoration: none;
}

.login{
   background-color: white;
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 25px;
}


/* Contenuto della pagina */

/* 1 contenitore */
.contenitore-1{
    display: flex;
    justify-content: center;
    background-image: url("img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 500px;
}

.blocco-1{
    display: flex;
    margin-top: 45px;
    width: 45%;
    height: 70%;
}

.blocco-1,.titolo{
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: white;
}

.paragrafo1{
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-top: 50px;
}

.download{
    align-self: flex-start;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;
}

.d-browser{
    align-self: flex-end;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 50px
}



/* 2 contenitore */
.contenitore-2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.blocco-2{
    margin-top: 45px;
    margin-right: 100px;
    width: 40%;
    height: 400px;
}

.blocco-2-1{
    margin-top: 45px;
    font-size: 45px;
    width: 20%;
    height: 400px;
}

.blocco-2-1 p{
    margin-top: 20px;
    font-size: 20px;
}


/* 3 contenitore */
.contenitore-3{
    background-color: rgb(240, 238, 238);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.blocco-3{
    width: 40%;
    height: 400px;

    
}

.blocco-3-1{
    margin-top: 100px;
    margin-right: 100px;
    width: 20%;
    height: 200px;
}

.blocco-3-1 h4{
    font-size: 40px;
}

.blocco-3-1 p{
    margin-top: 20px;
}

/* 4 contenitore */
.contenitore-4{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.blocco-4{
    margin-top: 45px;
    margin-right: 100px;
    width: 30%;
    height: 400px;
}

.blocco-4-1{
    margin-top: 100px;
    width: 20%;
    height: 300px;
}

.blocco-4-1 h4{
    font-size: 40px;
}

.blocco-4-1 p{
    margin-top: 20px;
}


/* 5 contenitore */
.contenitore-5{
    background-color: rgb(240, 238, 238);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

.blocco-5{
    margin-top: 45px;
    width: 65%;
    height: 900px;
}

.blocco-5 h4{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.blocco-5 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-top: 50px;
}

.blocco-5 img{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 60px;
}

.blocco-5 span{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}


/* 6 contenitore */
.contenitore-6{
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.blocco-6{
    margin-top: 20px;
    width: 20%;
    height: 400px;
}

.parlare{
    font-size: 35px;
    margin-top: 50px;
    color: rgb(67, 46, 145);
}

.flag{
    margin-top: 20px;
    color: white;
}

.blocco-6-1{
    margin-top: 20px;
    width: 10%;
    height: 400px;
    color: white;
}

.prodotto{
    margin-top: 60px;
    color: rgb(67, 46, 145);
}

.blocco-6-2{
    margin-top: 20px;
    width: 10%;
    height: 400px;
    color: white;
}

.compagnia{
    margin-top: 60px;
    color: rgb(67, 46, 145);
}

.blocco-6-3{
    margin-top: 20px;
    width: 10%;
    height: 400px;
    color: white;
}

.risorse{
    margin-top: 60px;
    color: rgb(67, 46, 145)
}

.blocco-6-4{
    margin-top: 20px;
    width: 10%;
    height: 400px;
    color: white;
}

hr{
    width: 200px;
    color: white;
    align: center;
}


/* Chiusura della pgina */
.chiusura{
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-top-width: 1px 200px;
}

.contenitore-info{
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 60px;
}

.logo2{
    height: 30px;
    margin-top: 18px;
}

.bottone{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
    height: 30px;
    margin-top: 18px;
    background-color: rgb(93, 70, 175);
}